<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A Champion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="form-add-new">
        <form action="/update-passive" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Update Champion</legend>
                <div>Hello</div>
                <div class="input-group d-none">
                    <label>ID:</label>
                    <input type="text" name="idPassive" value="<%= editSkillPassive.id_passive %>">
                </div>
                <div class="input-group">
                    <label>ID Skill:</label>
                    <input type="text" name="idSkill" value="<%= editSkillPassive.id_skill %>" readonly>
                </div>
                <div class="input-group">
                    <label>Name Skill:</label>
                    <input type="text" name="passive_name" value="<%= editSkillPassive.ten_skill_passive  %>">
                </div>
                <div class="input-group">
                    <label>Detail Skill:</label>
                    <input type="text" name="passive_detail" value="<%= editSkillPassive.motaskill_passive %>">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic" value="<%= editSkillPassive.hinhanh_passive %>">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>