<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A Champion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="form-add-new">
        <form action="/update-skill" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Update Champion</legend>
                <div>Hello</div>
                <div class="input-group">
                    <label>ID Skill:</label>
                    <input type="text" name="skillId" value="<%= editSkill.id_skill %>" readonly>
                </div>
                <div class="input-group">
                    <label>ID Champion:</label>
                    <input type="text" name="championId" value="<%= editSkill.champion_id %>" readonly>
                </div>
                <div class="input-group">
                    <label>Nội tại:</label>
                    <input type="text" name="noitai" value="<%= editSkill.noitai %>">
                </div>
                <div class="input-group">
                    <label>Q:</label>
                    <input type="text" name="q_skill" value="<%= editSkill.q %>">
                </div>
                <div class="input-group">
                    <label>W:</label>
                    <input type="text" name="w_skill" value="<%= editSkill.w %>">
                </div>
                <div class="input-group">
                    <label>E:</label>
                    <input type="text" name="e_skill" value="<%= editSkill.e %>">
                </div>
                <div class="input-group">
                    <label>R:</label>
                    <input type="text" name="r_skill" value="<%= editSkill.r %>">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>