<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A Champion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="form-add-new">
        <form action="/update-w" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Update Champion</legend>
                <div>Hello</div>
                <div class="input-group d-none">
                    <label>ID:</label>
                    <input type="text" name="idW" value="<%= editSkillW.id_w %>">
                </div>
                <div class="input-group">
                    <label>ID Skill:</label>
                    <input type="text" name="idSkill" value="<%= editSkillW.id_skill %>" readonly>
                </div>
                <div class="input-group">
                    <label>Name Skill:</label>
                    <input type="text" name="w_name" value="<%= editSkillW.ten_skill_w  %>">
                </div>
                <div class="input-group">
                    <label>Detail Skill:</label>
                    <input type="text" name="w_detail" value="<%= editSkillW.motaskill_w %>">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic" value="<%= editSkillW.hinhanh_w %>">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>