<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="table-container">
        <div class="title">List Champions</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Champion Name</th>
                <th>Image</th>
                <th>Skins</th>
                <th>Action</th>
            </tr>
            <% ListChampions.forEach(function(champion) { %>
                <tr>
                    <td>
                        <%= champion.champion_id %>
                    </td>
                    <td>
                        <%= champion.name %>
                    </td>
                    <td>
                        <img src="/img/<%=champion.image%>" alt="" width="200px" height="200px">
                    </td>
                    <td>
                        <form action="/skin/<%=champion.champion_id%>" method="post">
                            <button>Xem</button>
                        </form>
                    </td>

                    <td>
                        <a href="/update/<%= champion.champion_id %>">Edit</a>
                        <form action="/delete-champion/<%= champion.champion_id %>" method="post">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>

</body>

</html>