<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="table-container">
        <div class="title">List Skin</div>
        <table>
            <tr>
                <th>ID Champion</th>
                <th>Passive</th>
                <th>Detail</th>
                <th>Image</th>
                <th>Q</th>
                <th>Detail</th>
                <th>Image</th>
                <th>W</th>
                <th>Detail</th>
                <th>Image</th>
                <th>E</th>
                <th>Detail</th>
                <th>Image</th>
                <th>R</th>
                <th>Detail</th>
                <th>Image</th>
            </tr>
            <% listSkill.forEach(function(skill) { %>
                <tr>
                    <td>
                        <%= skill.champion_id %>
                    </td>
                    <td>
                        <%= skill.passive %>
                    </td>
                    <td>
                        <%= skill.motaskill_passive %>
                    </td>
                    <td>
                        <img src="/img/<%=skill.hinhanhskill_passive%>" alt="" width="100px" height="100px">
                    </td>
                    <td>
                        <%= skill.q %>
                    </td>
                    <td>
                        <%= skill.motaskill_q %>
                    </td>
                    <td>
                        <img src="/img/<%=skill.hinhanhskill_q%>" alt="" width="100px" height="100px">
                    </td>
                    <td>
                        <%= skill.w %>
                    </td>
                    <td>
                        <%= skill.motaskill_w %>
                    </td>
                    <td>
                        <img src="/img/<%=skill.hinhanhskill_w%>" alt="" width="100px" height="100px">
                    </td>
                    <td>
                        <%= skill.e %>
                    </td>
                    <td>
                        <%= skill.motaskill_e %>
                    </td>
                    <td>
                        <img src="/img/<%=skill.hinhanhskill_e%>" alt="" width="100px" height="100px">
                    </td>
                    <td>
                        <%= skill.r %>
                    </td>
                    <td>
                        <%= skill.motaskill_r %>
                    </td>
                    <td>
                        <img src="/img/<%=skill.hinhanhskill_r%>" alt="" width="100px" height="100px">
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
    <div>
        <a href="/create-skill-page">Thêm mới</a>
    </div>

</body>

</html>