<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="table-container">
        <div class="title">List Champions</div>
        <table>
            <tr>
                <th>ID Skill</th>
                <th>ID Passive</th>
                <th>Name Skill</th>
                <th>Detail Skill</th>
                <th>Image</th>
            </tr>
            <% listSkillQ.forEach(function(skill_q) { %>
                <tr>
                    <td>
                        <%= skill_q.id_q %>
                    </td>
                    <td>
                        <%= skill_q.id_skill %>
                    </td>
                    <td>
                        <%= skill_q.ten_skill_q %>
                    </td>
                    <td>
                        <%= skill_q.motaskill_q %>
                    </td>
                    <td>
                        <img src="/img/<%= skill_q.hinhanh_q %>" alt="" width="200px" height="200px">
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
    <div class="form-add-new">
        <form action="/create-skill-q" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Add Skill</legend>
                <div class="input-group">
                    <label>ID Skill:</label>
                    <input type="text" name="id_skill">
                </div>
                <div class="input-group">
                    <label>Skill Name:</label>
                    <input type="text" name="skill_name">
                </div>
                <div class="input-group">
                    <label>Detail Skill:</label>
                    <input type="text" name="detail_skill">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic">
                </div>
                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data"></form>
    </div>

</body>

</html>