<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="table-container">
        <div class="title">List Skin</div>
        <table>
            <tr>
                <th>ID Skill</th>
                <th>Passive</th>
                <th>Q</th>
                <th>W</th>
                <th>E</th>
                <th>R</th>
                <th>Action</th>
            </tr>
            <% listSkill.forEach(function(skill) { %>
                <tr>
                    <td>
                        <%= skill.id_skill %>
                    </td>
                    <td>
                        <%= skill.id_passive %>
                    </td>
                    <!-- <td>
                        <a href="/skill-detail/<%= skill.id_skill %>">Xem</a>
                    </td> -->

                    <td>
                        <%= skill.ten_skill %>
                    </td>
                    <td>
                        <img src="/img/<%=skill.motaskill%>" alt="" width="200px" height="200px">
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
    <div>
        <a href="/create-skill-page">Thêm mới</a>
    </div>

</body>

</html>