<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="table-container">
        <div class="title">List Skill</div>
        <table>
            <tr>
                <th>ID Skill</th>
                <th>Passive</th>
                <th>Q</th>
                <th>W</th>
                <th>E</th>
                <th>R</th>
            </tr>
            <% listSkill.forEach(function(skill) { %>
                <tr>
                    <td>
                        <%= skill.id_skill %>
                    </td>
                    <td>
                        <a href="/skill-passive-page/<%=skill.id_skill%>" method="GET"
                            style="text-decoration: none;">Xem</a>
                    </td>
                    <td>
                        <a href="/skill-q-page/<%=skill.id_skill%>" method="GET" style="text-decoration: none;">Xem</a>
                    </td>
                    <td>
                        <a href="/skill-w-page/<%=skill.id_skill%>" method="GET" style="text-decoration: none;">Xem</a>
                    </td>
                    <td>
                        <a href="/skill-e-page/<%=skill.id_skill%>" method="GET" style="text-decoration: none;">Xem</a>
                    </td>
                    <td>
                        <a href="/skill-r-page/<%=skill.id_skill%>" method="GET" style="text-decoration: none;">Xem</a>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>