<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="table-container">
        <div class="title">List Skin</div>
        <table>
            <tr>
                <th>ID Champion</th>
                <th>ID Skin</th>
                <th>Skin Name</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            <% listSkin.forEach(function(skin) { %>
                <tr>
                    <td>
                        <%= skin.champion_id %>
                    </td>
                    <td>
                        <%= skin.skin_id %>
                    </td>
                    <td>
                        <%= skin.tentrangphuc %>
                    </td>
                    <td>
                        <img src="/img/<%=skin.motatrangphuc%>" alt="" width="200px" height="200px">
                    <td>
                        <a href="/update-skin/<%= skin.skin_id %>">Edit</a>
                        <form action="/delete-skin/<%= skin.skin_id %>" method="post">
                            <button>Delete</button>
                        </form>

                    </td>
                    </td>
                </tr>

                <% }); %>
        </table>
    </div>
    <div>

        <a href="/create-skin-page/<%= listSkin[0].champion_id %>">Thêm mới</a>

    </div>

</body>

</html>